<!-- jQuery library -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script>
    $(document).ready(function () {
        $('#search-icon').on('click', function (e) {
            $('#search').slideToggle();
        });

        $("#hiring").on("click", function () {
            $("#addcompany").toggle();
        });
        $("#submit").click(function () {
            var input = $("#email").val();
            subscribeUser(input);
        });
        $(".menuitem").click(function () {
            if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                var idArray = [];
                $(".active").each(function () {
                    idArray.push($(this).attr('id'));
                })
                listPosts(idArray);
            } else {
                $(this).addClass("active");
                var idArray = [];
                $(".active").each(function () {
                    idArray.push($(this).attr('id'));
                })

                listPosts(idArray);
            }
        });
        listPostsPopular();
    })

    function subscribeUser(email) {
        $.ajax({
            url: '/hakaton-brainster-1/app/api/api_subscribe.php',
            method: "post",
            data: {
                email: email
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            }
        })
    }

    function listPostsPopular() {
        $(".upper-card").empty();
        $('.other-cards').empty();
        const bigCard = ({id, title, featured_image, content, category_id }) => `
            <div class="col-md-6 forbig" data-id="${id}">
                <img style='width: 100%; height: 30%;' src="${featured_image}">
            </div>
            <div class="col-md-4 forcontent">
                <h1>${title}</h1>
                <p>${content}</p>
                <button class="forbigcard">Find out more</button><i class="fas fa-share-alt forleft"></i>
            </div>
    `;
        const smallCard = ({id, title, featured_image, content, category_id,color,category_name }) => `
            <div class="col-md-4 card" data-id="${id}" style="background-size: cover; background-image:url('${featured_image}')">
                <div class="forcontentsmall">
                <h4 class="card-title">${title}</h4>
                <p class="cat-name">${category_name}</p>
                <hr style='height: 3px; width: 100%; margin: 0; background-color:${color}' class="hr pull-left">
                </div>
            </div>
    `;

        $.ajax({
            url: '/hakaton-brainster-1/app/api/api_listallposts.php',
            method: 'POST',
            data: {
                filter: 'popular'
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    data.posts.forEach(function (value, index) {
                        if (index == 0) {
                            $(".upper-card").append([{id: value.id, title: value.title, featured_image: value.featured_image, content: value.content, category_id: value.category_id,color: value.color, category_name: value.category_name}].map(bigCard).join(''));
                        } else {
                            $(".other-cards").append([{id: value.id, title: value.title, featured_image: value.featured_image, content: value.content, category_id: value.category_id,color: value.color, category_name: value.category_name}].map(smallCard).join(''));
                        }
                    })
                }
            }
        })
    }

    function listPosts(ids) {
        $(".upper-card").empty();
        $('.other-cards').empty();
        const bigCard = ({id, title, featured_image, content, category_id }) => `
            <div class="col-md-4" data-id="${id}" data-target="#myModal">
                <img style='width: 100%; height: 100%;' src="${featured_image}">
            </div>
            <div class="col-md-8">
                <h1>${title}</h1>
                <p>${content}</p>
                <button>Find out more</button><i class="fas fa-share-alt"></i>
            </div>
    `;
        const smallCard = ({id, title, featured_image, content, category_id,color,category_name }) => `
            <div class="col-md-4 card" data-id="${id}" style="background-size: contain; background-repeat: no-repeat; background-image:url('${featured_image}')" data-target="#myModal">
                <h4 class="card-title">${title}</h4>
                <p class="cat-name">${category_name}</p>
                <hr style='height: 3px; width: 100%; background-color:${color}' class="hr pull-left">
            </div>
    `;

        $.ajax({
            url: '/hakaton-brainster-1/app/api/api_listallposts.php',
            method: 'POST',
            data: {
                ids: ids
            },
            dataType: 'json',
            success: function (data) {
                if (data.success) {
                    data.posts.forEach(function (value, index) {
                        if (index == 0) {
                            $(".upper-card").append([{id: value.id, title: value.title, featured_image: value.featured_image, content: value.content, category_id: value.category_id,color: value.color, category_name: value.category_name}].map(bigCard).join(''));
                        } else {
                            $(".other-cards").append([{id: value.id, title: value.title, featured_image: value.featured_image, content: value.content, category_id: value.category_id,color: value.color, category_name: value.category_name}].map(smallCard).join(''));
                        }
                    })
                }
            }
        })
    }
</script>
<!-- Latest compiled JavaScript -->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='index.js'></script>

</body>

</html>