<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 menu navbar navbar-default navbar-fixed-top menu forsidebar">
            <div class="container-fluid">
                <div class="row">
                    <div id='1' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color ">HR EDUCATION</p>
                    </div>
                    <div id='3' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">REMOTE TEAMS</p>
                    </div>
                    <div id='5' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">ATTRACT TALENT</p>
                    </div>
                    <div id='2' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">RETAIN TALENT</p>
                    </div>
                    <div id='6' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">COMMUNICATION TOOLS</p>
                    </div>
                    <div id='4' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">PM TOOLS</p>
                    </div>
                    <div id='9' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color">HR COMMUNITIES</p>
                    </div>
                    <div id='8' class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color" id="hiring">HIRING</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 menuitem">
                        <p class="color" id="addcompany">ADD NEW COMPANY</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-md-offset-1 social1">
                <a href="https://www.linkedIn.com/" target="_blank"><i
                        class="fab fa-linkedin-in fa-2x linkedIn"></i></a>
            </div>
        </div>
        <div class="col-md-9 pull-right">
            <div class="container-fluid card-container">
                <div class="row upper-card"></div>
                <div class="row other-cards"></div>
            </div>
        </div>
    </div>
</div>